<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>This generates a new Extension of class.</string>
	<key>Summary</key>
	<string>This generates a new Extension of class.</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>DefaultCompletionName</key>
	<string>Extension</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
			<key>Default</key>
			<string>___VARIABLE_previewName:identifier___</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>subclassName</string>
			<key>Type</key>
			<string>class</string>
			<key>Name</key>
			<string>Subclass of:</string>
			<key>Default</key>
			<string>NSObject</string>
			<key>Description</key>
			<string>What class to subclass in the new file</string>
			<key>FallbackHeader</key>
			<string>#import &lt;Cocoa/Cocoa.h&gt;</string>
			<key>Required</key>
			<string>YES</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>previewName</string>
			<key>Type</key>
			<string>static</string>
			<key>Name</key>
			<string>Preview:</string>
			<key>Default</key>
			<string>___VARIABLE_subclassName:identifier___Extension</string>
			<key>Description</key>
			<string>The view controller name</string>
			<key>Required</key>
			<true/>
			<key>NotPersisted</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
